{% load static tailwind_tags %} 
{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Style_01.css' %}">
    {% tailwind_css %} 
    <title>
        {% block title %}
            Layout
        {% endblock %}
    </title>
</head>
<body>
    <h1 class='bg-green-800 my-4 text-2xl font-mono'>- App_01 -</h1>
    <h1 class='bg-yellow-600 my-2 text-xl text-black font-mono text-center'>Models testing</h2>
     {% block content %}
        Model_List
     {% endblock  %}   
</body>
</html>