{% extends "layout.html" %}

{% block content %}
    <a class="btn btn-warning m-3" href="{% url 'blog_create' %}">Create a Blog</a>
    <div class="d-flex flex-wrap w-fit gap-3 p-2 mx-1">
        {% for bg in blog_list %}
        <div class="col-md"> <!-- Set width to 3 for 4 cards per row -->
            <div class="card p-1" style="width: 100%;"> 
                <img src="{{bg.thumbnail.url}}" class="card-img-top" style="height: 12rem;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{bg.title}}</h5>
                    <p class="card-text">{{bg.content}}</p>
                    <p class="card-text text-end"><small class="text-body-secondary">~{{bg.author.username}}</small></p>
                    {% if bg.author == user %}
                    <a href="{% url 'blog_edit' bg.id %}" class="btn btn-primary">Edit Post</a>
                    <a href="{% url 'blog_delete' bg.id %}" class="btn btn-danger">Delete Post</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}